.color-filter {
  border: 1px solid gray;
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.color {
  width: 30px;
  height: 30px;
  border: 2px solid lightgray;
  margin: 4px;
  box-sizing: border-box;
  text-align: center;
}
